# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
devtools_options.yaml

# Web related
lib/generated_plugin_registrant.dart

# Symbolization related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/libs
/android/build

# Local settings
*.settings
*.gradle
*.project
*.classpath

# Local env
.env.local

# Local config
lib/assets/config.local.yaml

# Packaging artifacts
# Debian artifacts
linux/packaging/debian/.debhelper
linux/packaging/debian/cylonix
linux/packaging/debian/debhelper-build-stamp
linux/packaging/debian/*.debhelper
linux/packaging/debian/files
linux/packaging/debian/cylonix.substvars
# Windows artifacts
windows/installer/cylonixc.exe
windows/installer/cylonixd.exe
windows/installer/bin
windows/installer/FlutterDataFiles.wxs
windows/installer/FlutterRuntimeFiles.wxs
windows/share_extension/build
