[Unit]
Description=Cylonix node agent
Documentation=https://cylonix.io/
Wants=network-pre.target
After=network-pre.target NetworkManager.service systemd-resolved.service

[Service]
EnvironmentFile=/etc/default/cylonixd
ExecStart=/usr/sbin/cylonixd --tun cylonix0 \
    --state=/var/lib/cylonix/cylonixd.state \
    --statedir=/var/lib/cylonix \
    --socket=/run/cylonix/cylonixd.sock \
    --port=${PORT} $FLAGS
ExecStartPost=/usr/bin/cylonixc set --operator ${OPERATOR}
ExecStopPost=/usr/sbin/cylonixd --cleanup

Restart=on-failure

RuntimeDirectory=cylonix
RuntimeDirectoryMode=0755
StateDirectory=cylonix
StateDirectoryMode=0700
CacheDirectory=cylonix
CacheDirectoryMode=0750
Type=notify

[Install]
WantedBy=multi-user.target