[Desktop Entry]
Name=Cylonix
StartupWMClass=cylonix-app
Comment=Open source secure network access
Path=/usr/bin
Exec=cylonix-app
Icon=cylonix.png
Terminal=false
Type=Application
StartupNotify=true